#main1{
    width:360px;
    background-color:red;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
header{
    text-align: center;
    color:white;
    height:300px;
}
#img{
    margin-top:20px;
    height:140px;
}
header h2{
font-size:20px;
margin:20px 0px;
}
header p{
    font-size:22px;
}
#div{
    background-color:aliceblue;
}
article{
    display:flex;
    justify-content:center;
    padding-top:20px;
}
 article img {
    width:45px;
    height:45px;
    margin:0px 15px;
 }